.content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 280px;
    background-color: #8870ddbb;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    place-content: center;
    
}
input{
    width: 250px;
    margin-bottom: 5px;
}
body{
    background-image: url("../maxresdefault.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-color: black;
}